<div class="latest_nodes_controller">
  {% for node in nodes %}
    <div class="content_latest_node">
      <a href="/node/{{ node.nid }}"><span>{{ node.title }}</span></a><br>
      <img src="{{ node.path }}">
    </div>
  {% endfor %}
</div>
